# Tidy Data in Python

## Tidy data and messy data

In [4]:
import pandas as pd

In [5]:
#example showing a violation of rule 2
messy = pd.read_csv('datasets/messy.csv', sep=',')
print(messy)

  First     Last  Treatment A  Treatment B
0  John    Smith          NaN            2
1  Jane      Doe         16.0           11
2  Mary  Johnson          3.0            1

In [10]:
#two datasets for multiple choice question
df1 = pd.read_csv('datasets/df1.csv', sep = ',')
df2 = pd.read_csv('datasets/df2.csv', sep = ',')

print(df1)
print()
print(df2)

      owner  type  num
0     Jason   dog    2
1     Jason   cat    4
2     Jason  bird    3
3      Lisa   dog    7
4      Lisa   cat   10
5      Lisa  bird    9
6  Terrence   dog    8
7  Terrence   cat    5
8  Terrence  bird    1

   year  avg_free  avg_reduced  avg_full
0  1969       2.9          0.0      16.5
1  1970       4.6          0.0      17.8
2  1971       5.8          0.5      17.8
3  1972       7.3          0.5      16.6
4  1973       8.1          0.5      16.1
5  1974       8.6          0.5      15.5

Which dataset is messy and why?

A. df1 is messy because ...

## Melt

In [14]:
df2_tidy = pd.melt(df2, id_vars=['year'])
print(df2_tidy)

    year     variable  value
0   1969     avg_free    2.9
1   1970     avg_free    4.6
2   1971     avg_free    5.8
3   1972     avg_free    7.3
4   1973     avg_free    8.1
5   1974     avg_free    8.6
6   1969  avg_reduced    0.0
7   1970  avg_reduced    0.0
8   1971  avg_reduced    0.5
9   1972  avg_reduced    0.5
10  1973  avg_reduced    0.5
11  1974  avg_reduced    0.5
12  1969     avg_full   16.5
13  1970     avg_full   17.8
14  1971     avg_full   17.8
15  1972     avg_full   16.6
16  1973     avg_full   16.1
17  1974     avg_full   15.5

## Renaming Columns

In [16]:
df2_tidy.rename(columns = {'variable':'lunch option','value':'people'}, inplace = True)
print(df2_tidy)

    year lunch option  people
0   1969     avg_free     2.9
1   1970     avg_free     4.6
2   1971     avg_free     5.8
3   1972     avg_free     7.3
4   1973     avg_free     8.1
5   1974     avg_free     8.6
6   1969  avg_reduced     0.0
7   1970  avg_reduced     0.0
8   1971  avg_reduced     0.5
9   1972  avg_reduced     0.5
10  1973  avg_reduced     0.5
11  1974  avg_reduced     0.5
12  1969     avg_full    16.5
13  1970     avg_full    17.8
14  1971     avg_full    17.8
15  1972     avg_full    16.6
16  1973     avg_full    16.1
17  1974     avg_full    15.5

## More Messiness

In [18]:
eye_color = pd.read_csv('datasets/eye_color.csv',sep=',')
print(eye_color)

        Name  Brown  Blue  Black
0     Esther      0     1      0
1  Elizabeth      1     0      0
2   Michelle      0     0      1

What rule does this dataset violate?

## Deal with it!

In [39]:
eye_color_tidy = pd.melt(eye_color, id_vars = ['Name'])
print(eye_color_tidy)

        Name variable  value
0     Esther    Brown      0
1  Elizabeth    Brown      1
2   Michelle    Brown      0
3     Esther     Blue      1
4  Elizabeth     Blue      0
5   Michelle     Blue      0
6     Esther    Black      0
7  Elizabeth    Black      0
8   Michelle    Black      1

## Further Cleaning

In [40]:
eye_color_tidy = eye_color_tidy[eye_color_tidy.value == 1]
print(eye_color_tidy)

del eye_color_tidy['value']
print()
print(eye_color_tidy)

eye_color_tidy.rename(columns = {'variable':'eye color'}, inplace = True)
print()
print(eye_color_tidy)

        Name variable  value
1  Elizabeth    Brown      1
3     Esther     Blue      1
8   Michelle    Black      1

        Name variable
1  Elizabeth    Brown
3     Esther     Blue
8   Michelle    Black

        Name eye color
1  Elizabeth     Brown
3     Esther      Blue
8   Michelle     Black